---
layout : default
title  : Designer and Developer | Prem Gurusamy
---

      <header>
        <!--background video design starts here!-->
          <div class="header-video-container">
            <div class="video-container">
           <!--<video src="asset/videos/our-story.mp4" type="video/mp4" loop="loop" autoplay="true" poster="posterimage.jpg"></video>
            !--></div>
            <!--Intro Jumbotron Design Starts Here!-->
            <div class="container jumbotron-container">

                <div class="col-md-8 col-md-offset-2 text-center hero-content">
                  <h1 class="hero-head-text">I design <span>digital products.</span></h1>
                  <p class="lead text-center">
                     Freelance designer &amp; developer based in Coimbatore location
                  </p>

                  <!--Get Started Input Button Group!-->
                  <div class="row">
                    <div class="col-lg-12 hero-input-container" >
                      <!--TEMP REMOVE
                       <div class="form-group col-md-6 input-group-lg hero-input-group">
                         <input type="text" class="form-control" placeholder="Enter your email address">
                       </div>!-->
                       <div class="col-md-4 col-md-offset-4">
                         <button data-toggle="modal" data-target="#intro-modal-video" href="#" class="btn  btn-lg input-get-start-btn cute-btn"><strong>Watch Reel <i class="fa fa-play-circle"></i></strong>

                         </button>

                       </div>

                    </div><!-- /.col-lg-6 -->


                  </div><!-- /.row -->
                  <div class="row hero-image-row">
                    <div class="col-md-12">
                        <img src="asset/images/background-hero.svg" alt="Freelancer Background Image">
                    </div>
                  </div>
                </div><!--hero content div ended!-->
                <!--hero image hidden based on this design
                <div class="col-md-5 hidden-sm hidden-xs hero-girl">
                  <img class="" src="asset/images/hero-girl.png" />
                </div>
                !-->
            </div>
            <!--Intro Jumbotron Design Ends Here!-->
    </header>
    <!--header design ends here!-->





  <!--Benfits Container Starts Here!-->
  <div class="container benefits-container">
    <div class="row benefits-content-row">
      <div class="col-md-6 benefits-content-illustratons">
        <img src="asset/images/design-service.svg" class="img-responsive" />
      </div>
      <div class="col-md-6 benefits-column-content">
        <h2>Design</h2>
        <p class="lead">
          I like to keep it simple. My goals are to focus on typography, content and conveying the message that you want to send.
        </p>
        <!--<a class="btn green-btn" href="">EXPLORE ALL THE FEATURES</a>-->
      </div>
    </div>

    <div class="row benefits-content-row benefits-transactional-row">
      <div class="col-md-6 visible-xs visible-sm benefits-content-illustratons">
        <img src="asset/images/code-service.svg" class="img-responsive" />
      </div>
      <div class="col-md-6 benefits-column-content ">
        <h2>Front End Development</h2>
        <p class="lead">
          I'm a developer, so I know how to create your website to run across devices using the latest technologies available.
        </p>
      </div>
      <div class="col-md-6 hidden-xs hidden-sm benefits-content-illustratons">
        <img src="asset/images/code-service.svg" class="img-responsive" />
      </div>
    </div>
  </div>

  <!--Stats Container Starts Here!-->
  <div class="container-fluid stats-container">
    <div class="container ">
      <div class="row">
        <div class="col-md-4 stats-column">
          <h2>5+</h2>
          <h4>EXPERIENCE</h4>
        </div>
        <div class="col-md-4  stats-column">
          <h2>30+</h2>
          <h4>PROJECTS</h4>
        </div>
        <div class="col-md-4 stats-column">
          <h2>10+</h2>
          <h4>CLIENTS</h4>
        </div>
      </div>

    </div>
  </div>
<!--====================
testimonial carousel try!-->
{% include testimonial-slide-1.html %}
<div class="container-fluid hero-logo-container">
  <div class="container">
    <div class="row">

      <div class="col-md-2 col-xs-4">
          <img class="img-responsive" src="asset/images/crevo-logo.png" />
      </div>
      <div class="col-md-2 col-xs-4">
          <img class="img-responsive" src="asset/images/lessfilms-logo.png" />
      </div>
      <div class="col-md-2 col-xs-4 ">
          <img class="img-responsive" src="asset/images/lessaccounting-logo.png" />
      </div>
      <div class="col-md-2 col-xs-4 ">
          <img class="img-responsive" src="asset/images/detangled-logo.png" />
      </div>
      <div class="col-md-2 col-xs-4">
          <img class="img-responsive" src="asset/images/perdix-logo.png" />
      </div>
      <div class="col-md-2 col-xs-4">
          <img class="img-responsive" src="asset/images/urbity-logo.png" />
      </div>
    </div>
  </div>
</div>

  <!--final call to action section include !-->
  {% include final-call-to-action.html %}



  <!--Intro Modal Video Starts Here!-->
    <div class="modal modal-video-full-screen " data-toggle="modal" tab-index="-1" id="intro-modal-video">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close btn btn-link" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close fa-lg"></i></button>
          <h4 class="modal-title text-center"><span class="sr-only">main navigation</span></h4>
        </div><!--modal-header!-->
        <div class="modal-body">
          <div class=" embed-responsive embed-responsive-16by9">
            <iframe src="https://player.vimeo.com/video/203106835" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
          </div><!--modal-body!-->
        </div><!--modal-content!-->
      </div><!--modal-dialog-box!-->
    </div><!--modal!-->
    <!--Intro Modal Video Ends Here!-->
