<!--Final Call to Action Starts Here!-->
<div class="container-fluid final-call-to-action-fluid-container">
  <div class="container">
    <div class="col-md-6 center-block text-center">
      <h2>Let's talk about your company project</h2>
      <p>
        Or just want to say hello.
      </p>
    </div>
    <div class="col-md-8 center-block text-center hero-input-container">
      <div class="col-lg-12 hero-input-container">
        <!--TEMP REMOVE
       <div class="form-group col-md-6 input-group-lg hero-input-group">
         <input type="text" class="form-control" placeholder="Enter your email address">
       </div>!-->
        <div class="col-md-6 col-md-offset-3">
          <button onclick="location.href='hire-me.html';" class="btn btn-block btn-lg input-get-start-btn cute-btn"><strong>Get in touch</strong></button>
        </div>

      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.col-lg-6 -->
  </div>
</div>
