<div class="container-fluid testimonial-container">

<div class='row '>
  <div class='col-md-12'>
    <div class="carousel slide media-carousel" id="media">
      <div class="carousel-inner">
        <div class="item  active">
          <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 testimonial-main-content center-block">
                  <div class="quote quote-left text-left">
                    <i class="fa fa-quote-left fa-4x"></i>
                  </div>
                  <div class="five-star text-left">
                    <i class="fa fa-star fa-2x"></i>
                    <i class="fa fa-star fa-2x"></i>
                    <i class="fa fa-star fa-2x"></i>
                    <i class="fa fa-star fa-2x"></i>
                    <i class="fa fa-star fa-2x"></i>
                  </div>
                  <div class="testimonial-client-brief">
                    <h4>
                    Above and beyond what I was expecting?
                    Very good, very fast, very professional ! exactly what I needed. Thanks Prem !  </h4>
                  </div>
                    <div class="quote quote-right text-right">
                      <i class="fa fa-quote-right fa-4x"></i>
                    </div>
              </div>
              <div class="client-photo col-md-2 center-block">
                <img src="asset/images/brian.jpg" width="100px;" class="img-circle lazy"  />
              </div>
              <div class="col-md-12 client-details text-center">
                <h3>Brian Augsburger</h3>
                <p>Founder of Urbity</p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
              <div class="col-md-12">
                  <div class="col-md-6 testimonial-main-content center-block">
                    <div class="quote quote-left text-left">
                      <i class="fa fa-quote-left fa-4x"></i>
                    </div>
                    <div class="five-star text-left">
                      <i class="fa fa-star fa-2x"></i>
                      <i class="fa fa-star fa-2x"></i>
                      <i class="fa fa-star fa-2x"></i>
                      <i class="fa fa-star fa-2x"></i>
                      <i class="fa fa-star fa-2x"></i>
                    </div>
                    <div class="testimonial-client-brief">
                      <h4>
I had an amazing experience working with him and
I highly recommend his services to anyone who needs an EXCELLENT video. Thank you Prem. </h4>
                    </div>
                      <div class="quote quote-right text-right">
                        <i class="fa fa-quote-right fa-4x"></i>
                      </div>
                </div>
                <div class="client-photo col-md-2 center-block">
                  <img src="asset/images/client-face-3.png" width="100px;" class="img-circle lazy"  />
                </div>
                <div class="col-md-12 client-details text-center">
                  <h3>Danny D</h3>
                  <p>CEO of Detangled</p>
                </div>
              </div>
          </div>
        </div>
      </div>
      <a data-slide="prev" href="#media" class="left carousel-control"><span>&larr;</span></a>
      <a data-slide="next" href="#media" class="right carousel-control"><span>&rarr;</span></a>
    </div>
  </div>
</div>
</div>
